{% load static %}
<html>


<head>


        <title>Control de Asistencia ANR</title>

         <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{%  static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{%static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">




        <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.2.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/grid.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/version.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/detector.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/formatinf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/errorlevel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/bitmat.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/datablock.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/bmparser.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/datamask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/rsdecoder.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/gf256poly.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/gf256.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/decoder.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/QRCode.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/findpat.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/alignpat.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jsqrcode/databr.js' %}"></script>

        <script type="text/javascript" src="{%static  'js/csrf.js' %}"></script>
        <script type="text/javascript" src="{%  static '/js/qr.js' %}"></script>
        <script type="text/javascript" src="{%  static '/js/camera.js' %}"></script>
        <script type="text/javascript" src="{%  static '/js/init.js' %}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">ANRC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/admin">Administrador</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <h1 >Lector Código QR</h1>
        <video  id="camsource" autoplay width="640" height="480">Put your fallback message here.</video>
        <canvas id="qr-canvas" width="640" height="480" style="display:none"></canvas>
        <hr>
        <p>Mantenga su código QR cerca de la cámara hasta que se le informe lo contrario.</p>
    </header>

</body>

</html>